<a href="https://colab.research.google.com/github/TofayelAhamedTopu/Machine_Learning/blob/main/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df=pd.read_csv('gdrive/My Drive/ML/iris.csv')

In [ ]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [ ]:
df.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
Y = df['species']
X = df.drop('species',axis=1)

In [ ]:
Y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression,LogisticRegression

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
85            6.0          3.4           4.5          1.6
120           6.9          3.2           5.7          2.3
87            6.3          2.3           4.4          1.3
23            5.1          3.3           1.7          0.5
71            6.1          2.8           4.0          1.3
..            ...          ...           ...          ...
37            4.9          3.1           1.5          0.1
29            4.7          3.2           1.6          0.2
118           7.7          2.6           6.9          2.3
110           6.5          3.2           5.1          2.0
43            5.0          3.5           1.6          0.6

[120 rows x 4 columns]

In [ ]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
134           6.1          2.6           5.6          1.4
70            5.9          3.2           4.8          1.8
3             4.6          3.1           1.5          0.2
86            6.7          3.1           4.7          1.5
67            5.8          2.7           4.1          1.0
109           7.2          3.6           6.1          2.5
130           7.4          2.8           6.1          1.9
101           5.8          2.7           5.1          1.9
35            5.0          3.2           1.2          0.2
136           6.3          3.4           5.6          2.4
105           7.6          3.0           6.6          2.1
58            6.6          2.9           4.6          1.3
126           6.2          2.8           4.8          1.8
50            7.0          3.2           4.7          1.4
62            6.0          2.2           4.0          1.0
99            5.7          2.8           4.1          1.3
19            5.1          3.8           1.5          0.3
128           6.4          2.8           5.6          2.1
135           7.7          3.0           6.1          2.3
59            5.2          2.7           3.9          1.4
127           6.1          3.0           4.9          1.8
119           6.0          2.2           5.0          1.5
63            6.1          2.9           4.7          1.4
78            6.0          2.9           4.5          1.5
39            5.1          3.4           1.5          0.2
104           6.5          3.0           5.8          2.2
114           5.8          2.8           5.1          2.4
42            4.4          3.2           1.3          0.2
103           6.3          2.9           5.6          1.8
55            5.7          2.8           4.5          1.3

In [ ]:
Y_train

85     versicolor
120     virginica
87     versicolor
23         setosa
71     versicolor
          ...
37         setosa
29         setosa
118     virginica
110     virginica
43         setosa
Name: species, Length: 120, dtype: object

In [ ]:
l=LabelEncoder()
Y_train=l.fit_transform(Y_train)

In [ ]:
clf=LinearRegression()
clf.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
clf.score(X_train,Y_train)

0.9380414685904297

In [ ]:
Y_test=l.fit_transform(Y_test)
clf.score(X_test,Y_test)

0.874175508242152

In [ ]:
clf.predict([[5.2,1.2,4.3,2.1]])

array([1.80290419])